.home {
  @include flex(flex-start, center);

  flex-direction: column;
  height: 100vh;
  width: 100vw;
  //   background: linear-gradient(
  //     #FFC6EE 25%,
  //     #FEE2C5 25% 50%,
  //     #F7F0E6 50% 75%,
  //     #D1E5B2 75%
  //   );
  background: linear-gradient(
    #efb0c9 20%,
    #f4c2d7 20% 40%,
    #f8dae9 40% 60%,
    #b9d6f3 60% 80%,
    #a1c9f1 80%
  );

  &__header {
    width: 100%;
    flex: 1;
  }

  &__body {
    flex: 2;
    width: 100%;
  }
}

.motion {
  @include flex(center, center);
  height: 100%;

  img {
    width: 150px;
    object-fit: cover;
  }
}

.typing {
  @include flex(center, center);

  margin-top: 100px;
  font-size: 2.5rem;
  position: relative;

  &__text {
    @include flex(center, center);

    width: 100%;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: -70px;
    // right: -500px;
  }
}
