@import url('https://fonts.googleapis.com/css?family=Noto+Emoji');

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Gloria Hallelujah', cursive;
}

.icon {
    font-size: 1rem;
}